streamlit
scipy
numpy
pandas
Pillow
matplotlib
pymongo
streamlit-option-menu
streamlit-extras
streamlit-card
streamlit-echarts
streamlit-elements
streamlit-on-Hover-tabs
streamlit-toggle-switch
streamlit-vertical-slider
streamlit-authenticator
websocket-client
keras
Plost
smartapi-python
scikit-learn